{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <script>
            toastr.error('{{ error.messageKey }}')
        </script>
    {% endif %}

    <form name="authenticate" action="{{ path('security_login') }}" id="formLogin" class="form insta" method="post">
        <label>Username</label>
        <input name="_username" type="text">
        <label>Password</label>
        <input name="_password" type="password">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input id="btnLogin" value="Sign In" type="submit">
        <a href="{{ path('user_register') }}">Register</a>
    </form>
{% endblock %}